/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Site Styles
================================================== */
.container h1{
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.container h2{
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;	
}
.container p{
	margin-top: 15px;
	margin-bottom: 15px;	
}
.container em{
	font-weight: 500;
}

/* #Navigation/Header Styles
================================================== */

.siteid{
	position: absolute;
	left: -13px;
}
.navcontainer{
	position: relative;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);	
}
.navcontainer nav{
	position: absolute;
	right: 25px;
	top: 25px;
}
.navcontainer nav ul li{
	display: inline;
	margin-left: 15px;
}
.navcontainer nav ul li a:link, .navcontainer nav ul li a:visited{
	color: #FFF;
	text-decoration: none;
	font-size: 1.25em;
}
.navcontainer nav ul li a:hover{
	color: #000;
}
.imageheader{
	margin-top: 71px;
}
.searchbar{
	position: absolute;
	margin-left: 265px;
	margin-top: 15px;
	height: 30px;
	}
.searchbar input[type="text"]{
      transition: background-color 0.5s ease;    
	color: #FFF;
    background-color: #000;
	border-radius: 5px;
	padding-left: 10px;
	border: none;
	width: 300px;
	height: 30px;
	font-family: 'Press Start 2P', OCRA, courier;		
}
.searchbar input[type="text"]:focus{
    background-color: #FFF;
    color: #000;
}


/* #Account page Styles
================================================== */

.accountsummary p{
    padding-left: 30px;
}
.accountsummary{
    border-radius: 10px;
    position: absolute;
    left: -13px;
    background-color: #e9e9e9;
    color: #000;
}
.accountsummary h2{
    background-color: #bbbbbb;
    color: #FFF;
    padding: 5px 5px 5px 10px;
}
.accountsummary h1{
    text-align:center;
}
.accountsummary img, .accountform img{
	border: 10px solid #e9e9e9;
	padding: 15px;
	background-color: #FFF;
	box-shadow: 2px 2px 5px #989898;
	border-radius: 3px;
    margin: auto;
    display: block;
}
.accountform img{
	box-shadow: 2px 2px 5px #989898;
}
.accountform label{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}
.accountform input[type=text], .accountform input[type=password]{
    width: 100%;
    display: inline;
    background-color: #e9e9e9;
    color: #000;
    padding: 15px 0px 15px 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.accountform input[type=text]:focus, .accountform input[type=password]:focus{
    background-color: #000;
    color: #FFF;
}
.accountform select{
    font-size: 15px;
    display: inline;
    padding: 15px;
    margin: 0;
}
.accountform input[type=submit]{
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 20px;
    color: #FFF;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: #bbbbbb;
}




/* #Page Styles
================================================== */
.form{
	border-radius: 30px;
	background-color: #ff781c;
	padding: 30px;
}
.form input[type="text"], .form input[type="password"]{
	float: left;
	width: 78%;
	margin-bottom: 0px;
	font-family: 'Press Start 2P', OCRA, courier;
	border-color: #393937;
	padding: 15px;
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #000000 3%, #111111 60%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(3%,#000000), color-stop(60%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#000000 3%,#111111 60%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#000000 3%,#111111 60%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#000000 3%,#111111 60%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#000000 3%,#111111 60%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}
.form input[type="text"]{
	border-radius: 5px 5px 0px 0px;
}
.form input[type="password"]{
	border-radius: 0px 0px 5px 5px;
}
.form input[type="password"], .form input[type="text"]{
}
.form input[type="text"]:focus, .form input[type="password"]:focus{
	color: #FFF;
}
.form input[type="submit"]{
	text-transform: uppercase;
	font-family: 'Press Start 2P', OCRA, courier;
	margin-left: 30px;
	border: solid 2px #FFF;
	padding: 34px;
	border-radius: 15px;
	color: #FFF;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #000000 80%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(80%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#000000 80%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#000000 80%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#000000 80%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#000000 80%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.formheading{
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 250px;
}
.formheading h1{
	text-shadow: 4px 4px rgba(0,0,0, 0.5);	
	color: #FFF;
	font-size: 30px;
	font-family: 'Press Start 2P', OCRA, courier;
}
.formbottom{
	margin-top: 15px;
}
.formbottom a:link, .formbottom a:visited{
	color: #FFF;
}
.form form{
	margin: auto;
}

.error{
	background-image: url('../../images/erroricon.png');
	background-repeat: no-repeat;
	font-size: 20px;
	color: #FFF;
	font-weight: 700;
	background-position: left center;
	padding: 30px 30px 30px 60px;
	margin-bottom: 15px;
	border-radius: 8px;
	background-color: #821119;
	border: 2px solid #FFF;
}
.success{
	background-image: url('../../images/erroricon.png');
	background-repeat: no-repeat;
	font-size: 20px;
	color: #FFF;
	font-weight: 700;
	background-position: left center;
	padding: 30px 30px 30px 60px;
	margin-bottom: 15px;
	border-radius: 8px;
	background-color: #a3c295;
	/*background-color: #869f7a;*/
	border: 2px solid #FFF;
}
.closebutton{
	position: absolute;
	right: 12px;
	top: 12px;
}

.member:hover{
    background-color: #9C9C9C;
}
.member{
  transition: background-color 0.5s ease;
background-color: #dbdbdb;
	border-top: solid 1px #e6e6e5;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: 15px!important;
	margin-right: 0px!important;
	border-radius: 10px;
	/*margin-left: 5px!important;*/
}
.member img{
	border: 10px solid #e9e9e9;
	padding: 15px;
	background-color: #FFF;
	box-shadow: 2px 2px 5px #989898;
	border-radius: 3px;
	display: block;
	margin: auto;
}
.member h2, .member p, .member h3, .member h4{
	margin-left: 25px;
}
.member h3{
	text-transform: uppercase;
	background-color: #bbbbbb;
	padding: 5px;
	color: #FFF;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 5px;
}

.member h2{
	font-size: 25px;
	margin-top: 30px;
	margin-bottom: 5px;
}
.communitycontainer h1{
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}
.currentmembers{
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom:20px;
}
#pagination a:link, a:visited, .activePagination{
	padding: 10px;
	display: inline-block;
	font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
	text-decoration:none;
	border-radius: 5px;
}
#pagination{
	border-top: solid 1px #e6e6e5;	
	text-align: center;
	padding: 15px 0px 15px 0px;
}
#pagination a:link, #pagination a:visited{
	background-color: #dbdbdb;
	color: #3e3e3e;
}
#pagination a:hover{
	background-color: #3f3f3f;
	color: #FFF;
}
.activePagination{
	background-color: #ff781c;
	color: #FFF;
}

.registrationcolumn{
    margin-top: 30px;
    margin-bottom: 30px;
}




/* #BLOODY SIDEBAR
================================================== */

.totalposts{
	font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
	font-weight: 800;
	font-size: 15px;
	border-radius: 50%;
	text-align: center;
	width: 15px;
	height: 12px;
	padding-left: 2px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 8px;
	line-height: 1em;
	float: right;
	margin-left: 15px;
	
	background: #ff781c!important;
}
aside{
	margin-top: 35px;
}
	
aside ul li{
	/*text-shadow: 2px 2px rgba(0,0,0, 0.5);*/
	position: relative;
}

aside ul li h2{
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);    
        width: 104%;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	display: block;
	color: #FFF;
	padding-left: 15px;
	line-height: 2.3em;
	background: #fe781c;
	text-transform: uppercase;
}

aside ul li a{
    
    
    -webkit-transition: width 0.2s!important; /* For Safari 3.1 to 6.0 */    
    transition: width 0.2s;
    width: 100%;
        border-radius: 0px 2px 2px 0px;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);    

	padding: 15px;
	height: 22px;
	line-height: 1.5em;
	color: #FFF!important;
	text-decoration:none;
	display: block;
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #000000 6%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(6%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#000000 6%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#000000 6%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#000000 6%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#000000 6%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
aside ul li a:hover{
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);    
    border-radius: 0px 5px 5px 0px;
    width:105%;
	background: #323232; /* Old browsers */
	background: -moz-linear-gradient(top,  #323232 1%, #212121 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#323232), color-stop(100%,#212121)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #323232 1%,#212121 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #323232 1%,#212121 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #323232 1%,#212121 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #323232 1%,#212121 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

aside{
	position: relative;
}
aside nav{
	position: absolute;
	left: -13px;
}
aside ul:last-child{
	background-image: url('../../images/triangle.png');
	background-repeat: no-repeat;
	background-position: left bottom;
}




/* Footer
================================================== */

footer{
	color: white;
	padding: 2em;
	background: #424240; /* Old browsers */
	background: -moz-linear-gradient(top,  #424240 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424240), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #424240 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #424240 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #424240 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #424240 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424240', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

footer h1{
	padding-bottom: 15px;
	border-bottom: solid 1px #3c3c3c;
}
footer ul li{
	margin-bottom: 5px;
}
footer h2{
	text-transform: uppercase;
	color: #a1a1a1;
}
footer a:link{
    text-decoration: none;

}
footer a:hover{
    color: #FFF;
}


/* #Account information bar
================================================== */


/*Style the text to look like letterpress*/

.useravatar p{
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 1);
}


.accountinfobar{
	color: white;
    width: 100%;
    z-index: 1;
	background: #424240; /* Old browsers */
	background: -moz-linear-gradient(top,  #424240 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424240), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #424240 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #424240 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #424240 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #424240 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424240', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.useravatar{
	float: left;
}
.useravatar img{
	margin: 5px;
	vertical-align:middle;
	border-radius: 1px;
}
.accountbuttons{
	margin-top:10px;
	margin-right: 5px;
	float: right;
}
.accountbuttons a:link, .accountbuttons a:visited{
	color: white;
	text-decoration: none;
	padding: 5px;
	vertical-align:middle;
	border: solid 1px #5e5e5e;
	border-radius: 5px;

	/*inset shadow*/
	-webkit-box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.75);
	box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.75);
	
	/*reguar shadow*/	
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 2px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 2px 0px rgba(0, 0, 0, 1);
	
	background: #424240; /* Old browsers */
	background: -moz-linear-gradient(top,  #424240 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424240), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #424240 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #424240 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #424240 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #424240 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424240', endColorstr='#000000',GradientType=0 ); /* IE6-9 */	
}
.accountbuttons a:hover{
	background-color: #ff781c;
	background: #db6d00; /* Old browsers */
	background: -moz-linear-gradient(top,  #db6d00 1%, #ff781c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#db6d00), color-stop(100%,#ff781c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #db6d00 1%,#ff781c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #db6d00 1%,#ff781c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #db6d00 1%,#ff781c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #db6d00 1%,#ff781c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db6d00', endColorstr='#ff781c',GradientType=0 ); /* IE6-9 */
}


.accountbuttons ul li{
	display: inline;
}




/* #Review Styles
================================================== */

article{
	margin-top: 35px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 35px;
	padding-bottom: 25px;
	border-bottom-color: #E6E6E5;
	border-bottom-style: dotted;
	border-bottom-width: 1px;

}

article .scale-with-grid{
    border-radius: 3px;
    /*box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);*/
}
article p a:link:last-child, article p a:visited:last-child {
    background-color: #F2F2F2;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border-bottom: none;
    color: #323230;
    text-transform: uppercase;
}
article p a:link:last-child:hover, article p a:visited:last-child:hover {
    color: #FFF;
    background-color: #9C9C9C;
}
article p{
    line-height: 1.5em;
}
.commentlist{
    margin-left: 0px;
    margin-right: 0px;
}
.membercomment{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
}

.scale-with-grid, .member img, h1, h3, h4, h5, h6, p{
    animation:mymove 1s;
    -webkit-animation:mymove 1s; /* Safari and Chrome */
      transform: rotateY(180deg);
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}











.star{
	margin-right: 5px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	aside nav{
	position: relative;
	left: 0px;
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/